<style>
body {
	font-size: 8pt;
}
table {
  width: 100%;
  border: 1px solid black;
  vertical-align:top;
}
td {
  font-size: 9pt;
  vertical-align:top;
  border: 0px;
}
@media print {
	#print-wrap {
		display:none;
	}
}
#print {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#print:hover {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	background-color: #e6e6e6;
	outline: 0;
}
#print i {
	display: inline-block;
	height: 25px;
	width: 34px;
	background: url(/media/img/print.png) no-repeat;
}
#print:hover i {
	background: url(/media/img/print_hover.png) no-repeat;
}
#print span {
	position:relative;
	top:-5px;
}</style>
<script src="/media/js/jquery.min.js"></script>
<div id="print-wrap">
<button id="print"><i></i><span>Печать</span></button>
</div>
<script>
$(function() {

	$("#print").click(function() {
		window.print();
	});
})
</script>
<center><h4>Договор хранения № {{ entity.id }}</h4></center>
<p><b>&nbsp&nbsp&nbsp&nbsp1. Предмет договора.</b><br>
&nbsp&nbsp&nbsp&nbspПо настоящему договору Хранитель обязуется хранить имущество, передано ему Поклажедателем, и возвратить это имущество в сохранности. Предметом настоящего договора является хранение автошин и автомобильных дисков согласно Приложению №1 к настоящему договору.<br>
Настоящий договор заключен сроком хранения до {{ entity.dateEnd|date("d-m-Y") }}г.<br>
Заключение настоящего договора удостоверяется выдачей Поклажедателю акта приёма (Приложение к договору) и квитанция.</p>

<p><b>&nbsp&nbsp&nbsp&nbsp2. Обязанности сторон.</b><br>
&nbsp&nbsp&nbsp&nbspХранитель обязуется:<br>
&nbsp&nbsp&nbsp&nbspПринять для сохранности переданное ему имущество.<br>
&nbsp&nbsp&nbsp&nbspБез согласия Поклажедателя не использовать переданное на хранение имущество, а равно не предоставлять возможность пользоваться им третьим лицам.<br>
&nbsp&nbsp&nbsp&nbspЕсли изменение условий хранения необходимо для устранения опасности утраты, недостачи или повреждения имущества, Хранитель вправе изменить способ, место и иные условия хранения, не дожидаясь ответа Поклажедателя.<br>
&nbsp&nbsp&nbsp&nbspЕсли во время хранения возникла реальная угроза порчи имущества, либо имущество уже подверглось порче, либо возникли обстоятельства, не позволяющие обеспечить его сохранность, а своевременного принятия мер со стороны Поклажедателя ожидать нельзя, Хранитель вправе самостоятельно продать имущество продать имущество или часть его по цене, сложившейся в месте хранения. Если указанные обстоятельства возникли по причинам, за которые Хранитель не отвечает, он имеет право на возмещение своих расходов на продажу за счёт покупной цены.<br>
&nbsp&nbsp&nbsp&nbspПоклажедатель обязуется:<br>
&nbsp&nbsp&nbsp&nbspПередать имущество Хранителю;<br>
&nbsp&nbsp&nbsp&nbspОплатить стоимость хранения имущества;<br>
&nbsp&nbsp&nbsp&nbspЗабрать имущество по истечении срока хранения.</p>

<p>&nbsp&nbsp&nbsp&nbsp<b>3. Вознаграждение за хранение.</b><br>
&nbsp&nbsp&nbsp&nbspВознаграждение за хранение имущества составляет денежную сумму в размере {{ entity.price }} рублей.<br>
&nbsp&nbsp&nbsp&nbspВознаграждение за хранение выплачивается Хранителю единовременно, в момент подписания настоящего договора.<br>
&nbsp&nbsp&nbsp&nbspЕсли по истечении срока хранения находящееся на хранение имущество. Не взято обратно Поклажедателем, Поклажедатель обязуется оплатить Хранителю соразмерное вознаграждение за дальнейшее хранение имущества.</p>  

<p><b>&nbsp&nbsp&nbsp&nbsp4. Обязанность Хранителя возвратить имущество.</b><br>
&nbsp&nbsp&nbsp&nbspХранитель обязан возвратить Поклажедателю то самое имущество, которое было передано на хранение.<br>
&nbsp&nbsp&nbsp&nbspИмущество должно быть возвращено Хранителем в том состоянии, в каком оно было принято на хранение, с учётом его естественного ухудшения, естественной убыли или иного изменения вследствие его естественных свойств.<br>
&nbsp&nbsp&nbsp&nbspЕсли по истечении срока  договора находящееся на хранении имущество не взято обратно Поклажедателем в течение 30 дней, Хранитель вправе реализовать переданное на хранение имущество, и удержать сумму долга.<br>
&nbsp&nbsp&nbsp&nbspИмущество должно быть возвращено Поклажедателю в течение 2 (двух) рабочих дней, с момента поступления заявки по телефону {{ settings.phone }}, либо иным способом.<br>
&nbsp&nbsp&nbsp&nbspИмущество возвращается Хранителем Поклажедателю при предъявлении акта приёма-передачи, квитанция и договора.</p>

<p>&nbsp&nbsp&nbsp&nbsp<b>5. Ответственность Хранителя.</b><br>
&nbsp&nbsp&nbsp&nbspХранитель отвечает за утрату, недостачу или повреждение имущества, если не докажет, что утрата, недостача или повреждение произвели вследствие непреодолимой силы (наводнение, пожар, землетрясение и другие стихийные бедствия, диверсии и т.д.), либо из-за свойств имущества, о которых Хранитель, принимая его на хранение не знал и не должен был знать, либо в результате умысла или грубой неосторожности Поклажедателя.<br>
&nbsp&nbsp&nbsp&nbspЗа утрату, недостачу или повреждение принятого на хранение имущества после того как наступила обязанность Поклажедателявзять это имущество обратно, хранитель отвечает лишь при наличии с его стороны умысла или грубой неосторожности.</p>

<p>&nbsp&nbsp&nbsp&nbsp<b>6. Размер ответственности Хранителя. Возмещение причиненных Хранителю убытков.</b><br>
&nbsp&nbsp&nbsp&nbspУбытки, причиненные Поклажедателю утратой, недостачей или повреждением имущества, возмещаются Хранителем в соответствии с действующим законодательством.<br>
&nbsp&nbsp&nbsp&nbspПоклажедатель обязан возместить Хранителю убытки, причиненные свойствами сданного на хранение имущества, если Хранитель, принимая имущество на хранение, не знал и не должен был знать об этих свойствах.</p>

<p>&nbsp&nbsp&nbsp&nbsp</b>7. Прекращение хранения по требованию Поклажедателя.</b><br> 
&nbsp&nbsp&nbsp&nbspЗаключительные положения.<br>
&nbsp&nbsp&nbsp&nbspХранитель обязан по первому требованию Поклажедателя возвратить принятое на хранение имущество, даже если предусмотренный настоящим договором срок его хранения не окончился. При этом сумма, оплаченная за хранение, возврату не подлежит.<br>
&nbsp&nbsp&nbsp&nbspНастоящий договор составлен в двух экземплярах и встает в силу с момента его подписания сторонами.<br>
&nbsp&nbsp&nbsp&nbspЭкземпляр Поклажедателя передается Хранителю после выполнения всех обязательств обеими сторонами. Без предъявления Хранителю оригиналов экземпляра договора Поклажедателя и акта приёма-передачи, принятое на хранение имущество не выдается.</p>
<p><b><center>Адреса и реквизиты сторон:</center></b></p>
<table border=1>
<tr>
<td width=50%><p>
Хранитель: {{ settings.keeper }}<br>
ИНН: {{ settings.inn }}<br>
Юридический (он же фактический и почтовый)<br>адрес: {{ settings.address }}, тел. {{ settings.phone }}, факс {{ settings.fax }}<br>
{{ settings.addon1 }}<br>
{{ settings.addon2 }}<br><br>
Представитель хранителя:<br>
___________________/______________________
</p></td>
<td width=50%><p>
Поклажедатель:<br>
Ф.И.О.: {{ entity.name }}<br>
Адрес местожительства: {{ entity.adress }}<br>
Паспорт: {{ entity.passport }}<br>
Паспорт выдан: {{ entity.passportGiven }}. Дата выдачи: {{ entity.passportDate|date("d-m-Y") }}<br>
Контактный телефон: {{ entity.phone }}<br><br>
Поклажедатель:<br>
___________________/______________________
</p></td>
</tr>
</table>